
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@1,100&family=Red+Hat+Display:wght@500&display=swap');

body{
  background-color:  #F5EFE7;
  transition: background-color 0.5s ease;

}

nav{
  background-color: #d8c4b673;
  height: 80px;
  width: 100%;
  padding: 5px;
  margin: 0;

}

#dark-button{
  background-color:#E8DBD1;
  border-color:  #4F709C;
  border-radius: 10px; 
}

#dark-button i{
  color:  #4F709C; ;
}
ul{
  list-style: none;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
}

nav ul{
  float: right;
  margin-right: 30px;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 80px;
}
h2{
  color: #213555;
}
a , h5{
  text-decoration: none;
  color: #4F709C;
}

#logoimg{
  width: 180px;
  margin-top: 10px;
  margin-left: 20px;
}

#container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  width:1400px ;
  margin-right: auto;
  margin-left: auto;
}

.yu-gi-card{
  background-color:#d8c4b673;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  border-radius: 15px;
  max-height: 248px;
  cursor: pointer;
}

.contentcard{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
 
  max-height:248px;
  overflow: hidden;
padding-top: 40px;
overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 1em;
}
::-webkit-scrollbar-track{
  background-color: #d8c4b6b3;
}

::-webkit-scrollbar-thumb{
  background: rgb(95,124,162);
  background: linear-gradient(180deg, rgba(95,124,162,1) 0%, rgba(33,53,85,1) 100%);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(95, 124, 162, 0.481);
  background: linear-gradient(180deg, rgba(95, 124, 162, 0.43) 0%, rgba(33, 53, 85, 0.527) 100%);
  border-radius: 20px;
}

img{
  width: 170px;
}

p{
  color: gray;
  align-self: center;
  font-size: 14px;
  text-overflow: ellipsis;
}
.imgcard{
  width: 170px !important;
}
.Searchbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
form{
  width: 600px;
  height: 55px;
  display: flex;

}

form input{
  flex: 1;
  border: none;
  outline: none;
  background-color:  #E8DBD1;
}

form button {
  background-color:#4F709C;
  width: 90px;
  border: none;
  outline: none;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;

}

form .fa-solid{
  align-self: center;
  padding: 17px;
  margin-right: -13px;
 font-size: 20px;
 color: #777;
 background-color: #E8DBD1;
border-radius: 15px;

}

.modal-content{
  background-color: #dfd3cb;
  font-family: 'Bebas Neue', sans-serif;
  font-size: large;
}
.modal-content h5{
  font-size: 30px;
}

.modal-image{
  width: 230px;
  align-self: center;
}

.modal-body{
  display: flex;
  flex-direction: column;
  border-top: black;
}

.modal-body p{
  font-size: 24px;
  padding: 20px;
  color:#213555;
  text-align: center;
  align-self: center;
}

.pagenumbers{
  width:400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
justify-content: space-around;
margin-top: 40px;
margin-bottom: 40px;
}
 #prevPageButton , #nextPageButton{
  background-color:#4F709C;
  width: 120px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  line-height: 3rem;
  border-radius: 10px;

}